

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.service-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align:center;
    transition: transform 0.3s;
    margin-top:-350px;
}

.service-card:hover {
    transform: scale(1.05);
}

ul {
    text-align: left;
    list-style: none;
    padding: 0;
}

ul li {
    background:#DEFEE;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}